
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'Loja', root_url, :class => 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <%= link_to 'Produtos', admin_produtos_url %>
              </li>
            	</ul>
          </div>
        </div>
      </div>
    </div>
